{% extends 'base.html' %} {% block content %}
<h1>Account settings</h1>
<form method="post">
    <div class="centered-div">
        <p class="red-text">Signed in as: {{user}}<br>Account created: {{account_created}}</p>
        <div class="stats-box">
            <ul>
                <li>Games played: {{user_statistics[0]}}</li>
                <li>Total tokens: {{user_statistics[1]}}</li>
                <li>Total wins: {{user_statistics[2]}}</li>
                <li>Total losses: {{user_statistics[3]}}</li>
                <li>%Games won: {{user_statistics[4]}}</li>
            </ul>
        </div>
        <button class="small-button" name="submit-button" type="submit" value="upload-custom-questions">
            Upload Custom Questions
        </button>
        <button class="small-button" name="submit-button" type="submit" value="log-out">Log out</button>
        <button class="small-red-button" name="submit-button" type="submit" value="delete">Delete account</button>
    </div>
</form>
{% endblock %}