<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Herd Mentality</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/style.css')}}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous">
    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
    <div class="content">
        <a href="{{url_for('home')}}"><button class="small-button">&#127968;</button></a>
        <a href="{{url_for('rules')}}"><button class="small-button">Rules</button></a>
        {% block content %} {% endblock %}
    </div>
</body>
</html>