{% extends 'base.html' %} {% block content %}
<p></p>
<div class="centered-div"><div class="alternative-box">
    <h1>Herd Mentality Rules:</h1>
    <h2>Objective:</h2>
    <p>The aim of the game is to be the first character to collect eight tokens.
        Try and think like the herd by writing down the same answer as everyone else!</p>
    <h2>Play:</h2>
    <p>You will all be asked the same question - keep your answer secret!
        Once everyone has answered the question, all the responses will be revealed.</p>
    <h2>Winning Tokens:</h2>
    <p>Once all the answers are revealed, the <i>Cattle Wrangler</i> will match similar responses into groups.
        If your answer matches the majority, you will be awarded one token.</p>
    <h2>The Pink Cow Token:</h2>
    <p>If your wrote the only unique answer, you receive the <i>Pink Cow Token</i>.
        This means you can't win the game until you pass it on to another player.</p>
    <p>Created for educational purposes by Luke Crittenden.</p>
    <p>Herd Mentality originally created by Big Potato Games.</p>
</div></div>
{% endblock %}